<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Ephemerides</title>
	<!-- Styling -->
     <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="./../static/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="./../static/css/skeleton.css">
    <link type="text/css" rel="stylesheet" href="./../static/css/styles.css">
	<script type=text/javascript>
	</script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h3>Welcome to the Ephem API!</h3>
            </div>
        </div>
    </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/app.js')}}"></script>
</body>
