<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Ephemerides</title>
	<!-- Styling -->
     <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="./../static/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="./../static/css/skeleton.css">
    <link type="text/css" rel="stylesheet" href="./../static/css/styles.css">
	<script type=text/javascript>
	</script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h3>Welcome to the Ephemerides API!</h3>
            </div>
        </div>
		<div class="row">
			<div class="four columns" id="observer-info">
				<h5>Observer Info</h5>
				<label>Longitude</label>
				<input class="u-full-width" id="lon" value="54.368591">
				<label>Latitude</label>
				<input class="u-full-width" id="lat" value="24.482149">
				<label>Elevation</label>
				<input class="u-full-width" id="el" value="0.0">
			</div>
			<div class="four columns" id="src-info">
				<h5>Source Info</h5>
				<label>RA (J2000)</label>
				<input class="u-full-width" id="ra" value="16.759166666666665">
				<label>DEC (J2000)</label>
				<input class="u-full-width" id="dec" value="-80.30777777777777">
				<label>Name (Optional)</label>
				<input class="u-full-width" id="name" value="ESO013-G012">
				<button id="submit" class="u-full-width">Find Current Az/El!</button>
			</div>
			<div class="four columns group-box" id="output"></div>
		</div>
    </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/app.js')}}"></script>
</body>
